---
---

<!doctype html>

<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
    {% include_cached skip-links.html %}
    {% include_cached browser-upgrade.html %}

<div id="main" role="main">
  <img src="/assets/img/banner.png" alt="Texas Darts Masters" class="banner" aria-hidden="true">
  <div class="archive">
    
      <h1 id="page-title" class="page__title">The 2021/2022 Texas Darts Masters</h1>
    {{ content }}    
  </div>
</div>



    {% include scripts.html %}
    <style type="text/css">
      html { background-image: url('/assets/img/bg.png');background-repeat: repeat; }
      img.banner { padding: .5em;margin: 0 auto;display: block; }
      table { width: 100%;display: table; }
    </style>
  </body>
</html>
